.stage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #333;
}
.door {
  position: relative;
  width: 100px;
  height: 150px;
}
.door-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}
.toshimee {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: contain;
  transform: translate3d(100%, 0, 0);
  transition: 0.5s 0.5s;
}
.door:nth-child(1) .toshimee {
  background-image: url(./images/toshimee.png);
}
.door:nth-child(2) .toshimee {
  background-image: url(./images/toshimee.png);
}
.door:nth-child(3) .toshimee {
  background-image: url(./images/toshimee.png);
}
.door-body {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  transform-origin: left;
}
.door:nth-child(1) .door-body {
  background-color: rgba(255, 0, 0, 0.5);
}
.door:nth-child(2) .door-body {
  background-color: rgba(0, 255, 0, 0.5);
}
.door:nth-child(3) .door-body {
  background-color: rgba(0, 0, 255, 0.5);
}
.door--opened .door-body {
  transform: perspective(800px) rotateY(-110deg);
}
.door--opened .toshimee {
  transform: translate3d(0, 0, 0);
}
