.space {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1207px 1323px #fff, 402px 289px #fff, 1148px 951px #fff,
    1582px 796px #fff, 645px 599px #fff, 882px 1027px #fff, 561px 1789px #fff,
    329px 706px #fff, 363px 1643px #fff, 640px 1970px #fff, 947px 358px #fff,
    1831px 568px #fff, 1836px 1888px #fff, 1670px 1548px #fff, 642px 1692px #fff,
    711px 837px #fff, 38px 1651px #fff, 784px 376px #fff, 1163px 465px #fff,
    40px 937px #fff, 1181px 1631px #fff, 1382px 574px #fff, 1904px 716px #fff,
    978px 1783px #fff, 1679px 213px #fff, 1257px 1420px #fff, 436px 550px #fff,
    598px 634px #fff, 320px 1338px #fff, 1150px 552px #fff, 1130px 151px #fff,
    1174px 873px #fff, 1308px 1680px #fff, 36px 586px #fff, 400px 1187px #fff,
    605px 749px #fff, 149px 288px #fff, 677px 914px #fff, 1416px 1024px #fff,
    43px 1772px #fff, 1647px 1553px #fff, 1405px 1029px #fff, 1260px 918px #fff,
    1379px 760px #fff, 690px 1569px #fff, 1343px 253px #fff, 1241px 92px #fff,
    684px 671px #fff, 200px 1629px #fff, 246px 1511px #fff, 1834px 1855px #fff,
    1844px 1030px #fff, 433px 1256px #fff, 516px 1100px #fff, 447px 1930px #fff,
    1234px 844px #fff, 1117px 220px #fff, 1947px 1492px #fff, 394px 1038px #fff,
    1600px 1643px #fff, 1661px 456px #fff, 1162px 1654px #fff, 247px 1875px #fff,
    625px 1462px #fff, 327px 389px #fff, 550px 820px #fff, 188px 588px #fff,
    1131px 1430px #fff, 1823px 1292px #fff, 379px 1418px #fff, 270px 29px #fff,
    1561px 919px #fff, 793px 1462px #fff, 465px 1293px #fff, 1548px 1306px #fff,
    1788px 1060px #fff, 955px 201px #fff, 1832px 27px #fff, 36px 696px #fff,
    370px 1746px #fff, 482px 1002px #fff, 1338px 781px #fff, 98px 161px #fff,
    358px 735px #fff, 1243px 1572px #fff, 1167px 325px #fff, 357px 136px #fff,
    653px 1318px #fff, 232px 1073px #fff, 476px 1603px #fff, 1090px 1145px #fff,
    977px 1808px #fff, 599px 421px #fff, 973px 1083px #fff, 626px 501px #fff,
    1266px 1621px #fff, 805px 1410px #fff, 748px 1425px #fff, 448px 1548px #fff,
    1521px 1643px #fff, 790px 1076px #fff, 55px 1804px #fff, 851px 658px #fff,
    1614px 235px #fff, 621px 904px #fff, 654px 1009px #fff, 1771px 344px #fff,
    647px 1334px #fff, 191px 1993px #fff, 193px 157px #fff, 1258px 1546px #fff,
    1355px 1278px #fff, 1835px 1621px #fff, 1112px 1201px #fff,
    1506px 1096px #fff, 703px 1859px #fff, 1480px 21px #fff, 1007px 1796px #fff,
    1493px 918px #fff, 383px 469px #fff, 1346px 1213px #fff, 1951px 135px #fff,
    909px 1542px #fff, 235px 1379px #fff, 364px 1991px #fff, 1570px 1469px #fff,
    1112px 1574px #fff, 1560px 1408px #fff, 1224px 21px #fff, 1275px 529px #fff,
    1543px 1761px #fff, 1352px 348px #fff, 179px 1248px #fff, 616px 1778px #fff,
    736px 524px #fff, 87px 746px #fff, 598px 1881px #fff, 1184px 431px #fff,
    1872px 1096px #fff, 605px 449px #fff, 1786px 1053px #fff, 925px 645px #fff,
    500px 1640px #fff, 1770px 1149px #fff, 422px 517px #fff, 457px 354px #fff,
    1951px 81px #fff, 546px 369px #fff, 1758px 1616px #fff, 1433px 895px #fff,
    1835px 718px #fff, 523px 488px #fff, 1823px 133px #fff, 582px 36px #fff,
    1091px 350px #fff, 1208px 988px #fff, 1227px 1388px #fff, 1532px 1490px #fff,
    1926px 1425px #fff, 40px 1496px #fff, 1588px 1081px #fff, 1420px 430px #fff,
    956px 1917px #fff, 817px 19px #fff, 1733px 754px #fff, 615px 578px #fff,
    1190px 870px #fff, 634px 1964px #fff, 1225px 1377px #fff, 1675px 453px #fff,
    1463px 1915px #fff, 1507px 901px #fff, 451px 1693px #fff, 1594px 769px #fff,
    996px 1683px #fff, 1290px 883px #fff, 309px 1338px #fff, 1438px 1162px #fff,
    691px 1672px #fff, 142px 1541px #fff, 1257px 347px #fff, 432px 1971px #fff,
    1044px 1496px #fff, 1240px 484px #fff, 1921px 1064px #fff, 993px 1521px #fff,
    877px 521px #fff, 1036px 1987px #fff, 759px 159px #fff, 1714px 1585px #fff,
    1003px 623px #fff, 1938px 1561px #fff, 1571px 1565px #fff, 340px 357px #fff,
    1626px 1050px #fff, 891px 539px #fff, 292px 719px #fff, 1872px 1308px #fff,
    109px 1476px #fff, 1341px 824px #fff, 40px 758px #fff, 1701px 1315px #fff,
    872px 1453px #fff, 1465px 214px #fff, 271px 588px #fff, 1717px 748px #fff,
    1139px 1215px #fff, 1391px 107px #fff, 425px 1310px #fff, 374px 1942px #fff,
    494px 1172px #fff, 60px 1291px #fff, 660px 1870px #fff, 1169px 994px #fff,
    1335px 1802px #fff, 1413px 881px #fff, 20px 68px #fff, 934px 799px #fff,
    182px 561px #fff, 650px 102px #fff, 1675px 156px #fff, 1322px 1537px #fff,
    1325px 951px #fff, 995px 1814px #fff, 1252px 1169px #fff, 966px 1190px #fff,
    12px 1967px #fff, 1283px 1115px #fff, 1423px 1115px #fff, 1376px 326px #fff,
    1293px 485px #fff, 1507px 196px #fff, 201px 211px #fff, 1257px 61px #fff,
    610px 1271px #fff, 66px 1896px #fff, 975px 1198px #fff, 699px 904px #fff,
    253px 1910px #fff, 1357px 207px #fff, 159px 1435px #fff, 1251px 730px #fff,
    319px 360px #fff, 1003px 936px #fff, 271px 1305px #fff, 761px 1517px #fff,
    1160px 1805px #fff, 607px 919px #fff, 386px 730px #fff, 1320px 1026px #fff,
    27px 599px #fff, 1458px 1967px #fff, 1815px 477px #fff, 540px 650px #fff,
    271px 1733px #fff, 657px 463px #fff, 1588px 1901px #fff, 20px 1997px #fff,
    59px 1496px #fff, 1195px 934px #fff, 1630px 1559px #fff, 1491px 1848px #fff,
    1809px 1210px #fff, 1455px 222px #fff, 1408px 1002px #fff,
    1571px 1962px #fff, 358px 1707px #fff, 242px 1627px #fff, 600px 1617px #fff,
    1708px 246px #fff, 209px 1936px #fff, 1625px 770px #fff, 1071px 1639px #fff,
    1161px 880px #fff, 1523px 771px #fff, 922px 239px #fff, 1366px 1564px #fff,
    1425px 1556px #fff, 337px 318px #fff, 1267px 744px #fff, 1299px 536px #fff,
    1641px 1635px #fff, 373px 1000px #fff, 966px 1197px #fff, 1117px 1748px #fff,
    1901px 1853px #fff, 307px 819px #fff, 531px 88px #fff, 379px 1653px #fff,
    721px 1265px #fff, 966px 1260px #fff, 486px 1971px #fff, 1727px 1312px #fff,
    700px 1662px #fff, 1295px 20px #fff, 1315px 1520px #fff, 509px 756px #fff,
    1952px 1670px #fff, 1127px 1641px #fff, 1122px 20px #fff, 1744px 45px #fff,
    1857px 466px #fff, 1693px 193px #fff, 1071px 673px #fff, 979px 158px #fff,
    1520px 202px #fff, 1159px 1503px #fff, 875px 414px #fff, 354px 531px #fff,
    403px 1587px #fff, 188px 1023px #fff, 1528px 879px #fff, 1346px 814px #fff,
    603px 1943px #fff, 1897px 1175px #fff, 837px 601px #fff, 1250px 226px #fff,
    1454px 534px #fff, 393px 1183px #fff, 1696px 1191px #fff, 655px 1933px #fff,
    863px 535px #fff, 800px 746px #fff, 257px 1403px #fff, 364px 1418px #fff,
    934px 996px #fff, 1891px 150px #fff, 1847px 1108px #fff, 1537px 433px #fff,
    1763px 574px #fff, 1459px 839px #fff, 1598px 1742px #fff, 1467px 507px #fff,
    1741px 787px #fff, 1429px 1226px #fff, 327px 1333px #fff, 1466px 1982px #fff,
    1597px 1570px #fff, 1771px 897px #fff, 447px 1865px #fff, 1821px 1097px #fff,
    1604px 996px #fff, 203px 755px #fff, 1120px 213px #fff, 531px 662px #fff,
    1617px 885px #fff, 1353px 1548px #fff, 690px 973px #fff, 1033px 1359px #fff,
    439px 1922px #fff, 783px 1621px #fff, 1885px 89px #fff, 495px 695px #fff,
    1292px 24px #fff, 1258px 80px #fff, 356px 129px #fff, 1245px 1623px #fff,
    1799px 480px #fff, 414px 656px #fff, 546px 635px #fff, 927px 1098px #fff,
    1892px 465px #fff, 888px 1359px #fff, 1743px 783px #fff, 891px 1085px #fff,
    735px 1024px #fff, 1444px 1160px #fff, 1614px 488px #fff, 1255px 1029px #fff,
    1496px 829px #fff, 1419px 731px #fff, 1339px 1252px #fff, 71px 1809px #fff,
    980px 1611px #fff, 320px 1578px #fff, 1848px 1217px #fff, 1444px 112px #fff,
    479px 1434px #fff, 1181px 756px #fff, 724px 1251px #fff, 157px 1261px #fff,
    1111px 1529px #fff, 822px 900px #fff, 1971px 618px #fff, 1864px 876px #fff,
    1027px 1602px #fff, 601px 853px #fff, 443px 827px #fff, 706px 380px #fff,
    1254px 1616px #fff, 1723px 623px #fff, 209px 1315px #fff, 1086px 304px #fff,
    521px 1074px #fff, 333px 266px #fff, 1437px 1902px #fff, 538px 1846px #fff,
    1941px 1715px #fff, 278px 746px #fff, 934px 1921px #fff, 1840px 404px #fff,
    1020px 1820px #fff, 1809px 701px #fff, 629px 1132px #fff, 419px 1243px #fff,
    810px 114px #fff, 1244px 744px #fff, 502px 422px #fff, 1829px 877px #fff,
    803px 450px #fff, 454px 277px #fff, 1137px 1002px #fff, 1014px 890px #fff,
    1520px 282px #fff, 1409px 39px #fff, 1282px 1774px #fff, 1053px 1883px #fff,
    1745px 1280px #fff, 998px 775px #fff, 368px 850px #fff, 637px 1121px #fff,
    1974px 381px #fff, 793px 1880px #fff, 981px 880px #fff, 1480px 1698px #fff,
    861px 983px #fff, 1390px 646px #fff, 1399px 429px #fff, 1801px 1563px #fff,
    491px 414px #fff, 25px 577px #fff, 1439px 184px #fff, 1036px 1596px #fff,
    863px 1690px #fff, 1514px 370px #fff, 1624px 1330px #fff, 138px 1255px #fff,
    1385px 1152px #fff, 1361px 250px #fff, 1237px 569px #fff, 265px 1476px #fff,
    1356px 455px #fff, 1844px 245px #fff, 1780px 1166px #fff, 482px 600px #fff,
    1221px 102px #fff, 1948px 703px #fff, 1568px 16px #fff, 534px 1700px #fff,
    1141px 256px #fff, 1171px 1329px #fff, 897px 1835px #fff, 139px 480px #fff,
    576px 1346px #fff, 299px 266px #fff, 1258px 828px #fff, 397px 1517px #fff,
    1275px 1075px #fff, 563px 629px #fff, 1782px 1761px #fff, 563px 1709px #fff,
    1383px 1779px #fff, 1326px 919px #fff, 1231px 1879px #fff,
    1092px 1521px #fff, 650px 933px #fff, 1925px 1948px #fff, 752px 169px #fff,
    50px 56px #fff, 9px 1875px #fff, 1566px 929px #fff, 1376px 738px #fff,
    193px 662px #fff, 941px 703px #fff, 389px 448px #fff, 1984px 1493px #fff,
    1266px 647px #fff, 880px 189px #fff, 188px 1794px #fff, 283px 772px #fff,
    1339px 684px #fff, 1111px 1844px #fff, 919px 1256px #fff, 1645px 202px #fff,
    1261px 863px #fff, 1873px 1152px #fff, 213px 888px #fff, 861px 1062px #fff,
    600px 1535px #fff, 64px 126px #fff, 573px 1639px #fff, 923px 1039px #fff,
    793px 786px #fff, 468px 358px #fff, 636px 116px #fff, 1930px 747px #fff,
    87px 1537px #fff, 1397px 94px #fff, 1599px 808px #fff, 1275px 194px #fff,
    1580px 389px #fff, 1130px 711px #fff, 1025px 1780px #fff, 947px 1828px #fff,
    212px 1185px #fff, 1687px 842px #fff, 1914px 768px #fff, 722px 450px #fff,
    1557px 269px #fff, 1594px 1313px #fff, 1025px 795px #fff, 1013px 709px #fff,
    1700px 1075px #fff, 384px 1107px #fff, 1098px 1212px #fff, 296px 1737px #fff,
    872px 1772px #fff, 31px 38px #fff, 1374px 1334px #fff, 540px 1876px #fff,
    538px 1839px #fff, 981px 928px #fff, 1782px 1632px #fff, 1696px 414px #fff,
    1764px 549px #fff, 1617px 1247px #fff, 1591px 1024px #fff, 1280px 142px #fff,
    707px 1945px #fff, 1370px 1031px #fff, 298px 267px #fff, 330px 647px #fff,
    552px 1031px #fff, 1153px 1055px #fff, 183px 437px #fff, 954px 283px #fff,
    989px 1241px #fff, 1451px 15px #fff, 779px 831px #fff, 1008px 1896px #fff,
    1038px 1393px #fff, 554px 1818px #fff, 1213px 1398px #fff, 101px 547px #fff,
    1187px 170px #fff, 561px 960px #fff, 1791px 653px #fff, 661px 1383px #fff,
    597px 1780px #fff, 91px 1637px #fff, 1170px 1560px #fff, 868px 336px #fff,
    1747px 638px #fff, 714px 753px #fff, 1966px 1432px #fff, 1455px 1123px #fff,
    1269px 844px #fff, 92px 1983px #fff, 1609px 1510px #fff, 890px 1550px #fff,
    179px 9px #fff, 1993px 581px #fff, 1921px 1249px #fff, 448px 1907px #fff,
    1474px 533px #fff, 671px 610px #fff, 1141px 1977px #fff, 1789px 1138px #fff,
    513px 1645px #fff, 1478px 272px #fff, 785px 1490px #fff, 789px 573px #fff,
    1909px 627px #fff, 1851px 165px #fff, 1034px 1727px #fff, 850px 282px #fff,
    436px 467px #fff, 574px 279px #fff, 1763px 1225px #fff, 1941px 1378px #fff,
    200px 1802px #fff, 1501px 474px #fff, 345px 489px #fff, 736px 1184px #fff,
    43px 1348px #fff, 1867px 1722px #fff, 855px 1931px #fff, 1055px 645px #fff,
    1814px 1279px #fff, 1841px 1798px #fff, 854px 1737px #fff, 477px 350px #fff,
    1784px 1883px #fff, 817px 155px #fff, 1473px 1130px #fff, 1717px 570px #fff,
    745px 1528px #fff, 616px 1363px #fff, 493px 1495px #fff, 1564px 1110px #fff,
    671px 1560px #fff, 970px 1681px #fff, 126px 794px #fff, 65px 644px #fff,
    1592px 896px #fff, 443px 38px #fff, 728px 439px #fff, 960px 168px #fff,
    1821px 897px #fff, 835px 1663px #fff, 1414px 1636px #fff, 997px 1024px #fff,
    923px 404px #fff, 419px 258px #fff, 1920px 967px #fff, 1353px 1583px #fff,
    1772px 1846px #fff, 106px 1075px #fff, 1588px 1997px #fff, 1139px 47px #fff,
    1937px 1587px #fff, 338px 1197px #fff, 1746px 1871px #fff, 401px 1556px #fff,
    948px 825px #fff, 283px 1549px #fff, 856px 364px #fff, 109px 1871px #fff,
    1327px 1165px #fff, 1621px 862px #fff, 1212px 1332px #fff, 902px 1165px #fff,
    1199px 481px #fff, 833px 1205px #fff, 1652px 429px #fff, 86px 1028px #fff,
    1994px 1463px #fff, 651px 75px #fff, 354px 668px #fff, 1610px 892px #fff,
    1129px 239px #fff, 520px 1443px #fff, 1274px 802px #fff, 1536px 1493px #fff,
    1254px 546px #fff, 27px 34px #fff, 252px 1497px #fff, 251px 1804px #fff,
    319px 165px #fff, 842px 482px #fff, 852px 767px #fff, 579px 535px #fff,
    1579px 1199px #fff, 1758px 1399px #fff, 413px 1122px #fff, 1995px 531px #fff,
    991px 944px #fff, 894px 430px #fff, 1869px 1396px #fff, 488px 664px #fff,
    32px 1195px #fff, 1480px 29px #fff, 1752px 1511px #fff, 1730px 1220px #fff,
    625px 986px #fff, 362px 1492px #fff, 1148px 48px #fff, 204px 509px #fff,
    516px 1145px #fff, 9px 581px #fff, 605px 197px #fff, 1610px 1567px #fff,
    1367px 1735px #fff, 222px 1926px #fff, 1940px 357px #fff, 147px 1692px #fff,
    1975px 1841px #fff, 1628px 1090px #fff, 1675px 1283px #fff, 781px 177px #fff,
    700px 86px #fff, 43px 63px #fff, 257px 11px #fff, 1299px 1141px #fff,
    1998px 214px #fff, 286px 397px #fff, 1863px 1952px #fff, 1643px 1501px #fff,
    1436px 1813px #fff, 846px 280px #fff, 1231px 895px #fff, 1910px 864px #fff,
    1335px 547px #fff, 1471px 1304px #fff, 804px 1199px #fff, 82px 1734px #fff,
    1613px 333px #fff, 1999px 1159px #fff, 1200px 998px #fff, 1386px 123px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1207px 1323px #fff, 402px 289px #fff, 1148px 951px #fff,
    1582px 796px #fff, 645px 599px #fff, 882px 1027px #fff, 561px 1789px #fff,
    329px 706px #fff, 363px 1643px #fff, 640px 1970px #fff, 947px 358px #fff,
    1831px 568px #fff, 1836px 1888px #fff, 1670px 1548px #fff, 642px 1692px #fff,
    711px 837px #fff, 38px 1651px #fff, 784px 376px #fff, 1163px 465px #fff,
    40px 937px #fff, 1181px 1631px #fff, 1382px 574px #fff, 1904px 716px #fff,
    978px 1783px #fff, 1679px 213px #fff, 1257px 1420px #fff, 436px 550px #fff,
    598px 634px #fff, 320px 1338px #fff, 1150px 552px #fff, 1130px 151px #fff,
    1174px 873px #fff, 1308px 1680px #fff, 36px 586px #fff, 400px 1187px #fff,
    605px 749px #fff, 149px 288px #fff, 677px 914px #fff, 1416px 1024px #fff,
    43px 1772px #fff, 1647px 1553px #fff, 1405px 1029px #fff, 1260px 918px #fff,
    1379px 760px #fff, 690px 1569px #fff, 1343px 253px #fff, 1241px 92px #fff,
    684px 671px #fff, 200px 1629px #fff, 246px 1511px #fff, 1834px 1855px #fff,
    1844px 1030px #fff, 433px 1256px #fff, 516px 1100px #fff, 447px 1930px #fff,
    1234px 844px #fff, 1117px 220px #fff, 1947px 1492px #fff, 394px 1038px #fff,
    1600px 1643px #fff, 1661px 456px #fff, 1162px 1654px #fff, 247px 1875px #fff,
    625px 1462px #fff, 327px 389px #fff, 550px 820px #fff, 188px 588px #fff,
    1131px 1430px #fff, 1823px 1292px #fff, 379px 1418px #fff, 270px 29px #fff,
    1561px 919px #fff, 793px 1462px #fff, 465px 1293px #fff, 1548px 1306px #fff,
    1788px 1060px #fff, 955px 201px #fff, 1832px 27px #fff, 36px 696px #fff,
    370px 1746px #fff, 482px 1002px #fff, 1338px 781px #fff, 98px 161px #fff,
    358px 735px #fff, 1243px 1572px #fff, 1167px 325px #fff, 357px 136px #fff,
    653px 1318px #fff, 232px 1073px #fff, 476px 1603px #fff, 1090px 1145px #fff,
    977px 1808px #fff, 599px 421px #fff, 973px 1083px #fff, 626px 501px #fff,
    1266px 1621px #fff, 805px 1410px #fff, 748px 1425px #fff, 448px 1548px #fff,
    1521px 1643px #fff, 790px 1076px #fff, 55px 1804px #fff, 851px 658px #fff,
    1614px 235px #fff, 621px 904px #fff, 654px 1009px #fff, 1771px 344px #fff,
    647px 1334px #fff, 191px 1993px #fff, 193px 157px #fff, 1258px 1546px #fff,
    1355px 1278px #fff, 1835px 1621px #fff, 1112px 1201px #fff,
    1506px 1096px #fff, 703px 1859px #fff, 1480px 21px #fff, 1007px 1796px #fff,
    1493px 918px #fff, 383px 469px #fff, 1346px 1213px #fff, 1951px 135px #fff,
    909px 1542px #fff, 235px 1379px #fff, 364px 1991px #fff, 1570px 1469px #fff,
    1112px 1574px #fff, 1560px 1408px #fff, 1224px 21px #fff, 1275px 529px #fff,
    1543px 1761px #fff, 1352px 348px #fff, 179px 1248px #fff, 616px 1778px #fff,
    736px 524px #fff, 87px 746px #fff, 598px 1881px #fff, 1184px 431px #fff,
    1872px 1096px #fff, 605px 449px #fff, 1786px 1053px #fff, 925px 645px #fff,
    500px 1640px #fff, 1770px 1149px #fff, 422px 517px #fff, 457px 354px #fff,
    1951px 81px #fff, 546px 369px #fff, 1758px 1616px #fff, 1433px 895px #fff,
    1835px 718px #fff, 523px 488px #fff, 1823px 133px #fff, 582px 36px #fff,
    1091px 350px #fff, 1208px 988px #fff, 1227px 1388px #fff, 1532px 1490px #fff,
    1926px 1425px #fff, 40px 1496px #fff, 1588px 1081px #fff, 1420px 430px #fff,
    956px 1917px #fff, 817px 19px #fff, 1733px 754px #fff, 615px 578px #fff,
    1190px 870px #fff, 634px 1964px #fff, 1225px 1377px #fff, 1675px 453px #fff,
    1463px 1915px #fff, 1507px 901px #fff, 451px 1693px #fff, 1594px 769px #fff,
    996px 1683px #fff, 1290px 883px #fff, 309px 1338px #fff, 1438px 1162px #fff,
    691px 1672px #fff, 142px 1541px #fff, 1257px 347px #fff, 432px 1971px #fff,
    1044px 1496px #fff, 1240px 484px #fff, 1921px 1064px #fff, 993px 1521px #fff,
    877px 521px #fff, 1036px 1987px #fff, 759px 159px #fff, 1714px 1585px #fff,
    1003px 623px #fff, 1938px 1561px #fff, 1571px 1565px #fff, 340px 357px #fff,
    1626px 1050px #fff, 891px 539px #fff, 292px 719px #fff, 1872px 1308px #fff,
    109px 1476px #fff, 1341px 824px #fff, 40px 758px #fff, 1701px 1315px #fff,
    872px 1453px #fff, 1465px 214px #fff, 271px 588px #fff, 1717px 748px #fff,
    1139px 1215px #fff, 1391px 107px #fff, 425px 1310px #fff, 374px 1942px #fff,
    494px 1172px #fff, 60px 1291px #fff, 660px 1870px #fff, 1169px 994px #fff,
    1335px 1802px #fff, 1413px 881px #fff, 20px 68px #fff, 934px 799px #fff,
    182px 561px #fff, 650px 102px #fff, 1675px 156px #fff, 1322px 1537px #fff,
    1325px 951px #fff, 995px 1814px #fff, 1252px 1169px #fff, 966px 1190px #fff,
    12px 1967px #fff, 1283px 1115px #fff, 1423px 1115px #fff, 1376px 326px #fff,
    1293px 485px #fff, 1507px 196px #fff, 201px 211px #fff, 1257px 61px #fff,
    610px 1271px #fff, 66px 1896px #fff, 975px 1198px #fff, 699px 904px #fff,
    253px 1910px #fff, 1357px 207px #fff, 159px 1435px #fff, 1251px 730px #fff,
    319px 360px #fff, 1003px 936px #fff, 271px 1305px #fff, 761px 1517px #fff,
    1160px 1805px #fff, 607px 919px #fff, 386px 730px #fff, 1320px 1026px #fff,
    27px 599px #fff, 1458px 1967px #fff, 1815px 477px #fff, 540px 650px #fff,
    271px 1733px #fff, 657px 463px #fff, 1588px 1901px #fff, 20px 1997px #fff,
    59px 1496px #fff, 1195px 934px #fff, 1630px 1559px #fff, 1491px 1848px #fff,
    1809px 1210px #fff, 1455px 222px #fff, 1408px 1002px #fff,
    1571px 1962px #fff, 358px 1707px #fff, 242px 1627px #fff, 600px 1617px #fff,
    1708px 246px #fff, 209px 1936px #fff, 1625px 770px #fff, 1071px 1639px #fff,
    1161px 880px #fff, 1523px 771px #fff, 922px 239px #fff, 1366px 1564px #fff,
    1425px 1556px #fff, 337px 318px #fff, 1267px 744px #fff, 1299px 536px #fff,
    1641px 1635px #fff, 373px 1000px #fff, 966px 1197px #fff, 1117px 1748px #fff,
    1901px 1853px #fff, 307px 819px #fff, 531px 88px #fff, 379px 1653px #fff,
    721px 1265px #fff, 966px 1260px #fff, 486px 1971px #fff, 1727px 1312px #fff,
    700px 1662px #fff, 1295px 20px #fff, 1315px 1520px #fff, 509px 756px #fff,
    1952px 1670px #fff, 1127px 1641px #fff, 1122px 20px #fff, 1744px 45px #fff,
    1857px 466px #fff, 1693px 193px #fff, 1071px 673px #fff, 979px 158px #fff,
    1520px 202px #fff, 1159px 1503px #fff, 875px 414px #fff, 354px 531px #fff,
    403px 1587px #fff, 188px 1023px #fff, 1528px 879px #fff, 1346px 814px #fff,
    603px 1943px #fff, 1897px 1175px #fff, 837px 601px #fff, 1250px 226px #fff,
    1454px 534px #fff, 393px 1183px #fff, 1696px 1191px #fff, 655px 1933px #fff,
    863px 535px #fff, 800px 746px #fff, 257px 1403px #fff, 364px 1418px #fff,
    934px 996px #fff, 1891px 150px #fff, 1847px 1108px #fff, 1537px 433px #fff,
    1763px 574px #fff, 1459px 839px #fff, 1598px 1742px #fff, 1467px 507px #fff,
    1741px 787px #fff, 1429px 1226px #fff, 327px 1333px #fff, 1466px 1982px #fff,
    1597px 1570px #fff, 1771px 897px #fff, 447px 1865px #fff, 1821px 1097px #fff,
    1604px 996px #fff, 203px 755px #fff, 1120px 213px #fff, 531px 662px #fff,
    1617px 885px #fff, 1353px 1548px #fff, 690px 973px #fff, 1033px 1359px #fff,
    439px 1922px #fff, 783px 1621px #fff, 1885px 89px #fff, 495px 695px #fff,
    1292px 24px #fff, 1258px 80px #fff, 356px 129px #fff, 1245px 1623px #fff,
    1799px 480px #fff, 414px 656px #fff, 546px 635px #fff, 927px 1098px #fff,
    1892px 465px #fff, 888px 1359px #fff, 1743px 783px #fff, 891px 1085px #fff,
    735px 1024px #fff, 1444px 1160px #fff, 1614px 488px #fff, 1255px 1029px #fff,
    1496px 829px #fff, 1419px 731px #fff, 1339px 1252px #fff, 71px 1809px #fff,
    980px 1611px #fff, 320px 1578px #fff, 1848px 1217px #fff, 1444px 112px #fff,
    479px 1434px #fff, 1181px 756px #fff, 724px 1251px #fff, 157px 1261px #fff,
    1111px 1529px #fff, 822px 900px #fff, 1971px 618px #fff, 1864px 876px #fff,
    1027px 1602px #fff, 601px 853px #fff, 443px 827px #fff, 706px 380px #fff,
    1254px 1616px #fff, 1723px 623px #fff, 209px 1315px #fff, 1086px 304px #fff,
    521px 1074px #fff, 333px 266px #fff, 1437px 1902px #fff, 538px 1846px #fff,
    1941px 1715px #fff, 278px 746px #fff, 934px 1921px #fff, 1840px 404px #fff,
    1020px 1820px #fff, 1809px 701px #fff, 629px 1132px #fff, 419px 1243px #fff,
    810px 114px #fff, 1244px 744px #fff, 502px 422px #fff, 1829px 877px #fff,
    803px 450px #fff, 454px 277px #fff, 1137px 1002px #fff, 1014px 890px #fff,
    1520px 282px #fff, 1409px 39px #fff, 1282px 1774px #fff, 1053px 1883px #fff,
    1745px 1280px #fff, 998px 775px #fff, 368px 850px #fff, 637px 1121px #fff,
    1974px 381px #fff, 793px 1880px #fff, 981px 880px #fff, 1480px 1698px #fff,
    861px 983px #fff, 1390px 646px #fff, 1399px 429px #fff, 1801px 1563px #fff,
    491px 414px #fff, 25px 577px #fff, 1439px 184px #fff, 1036px 1596px #fff,
    863px 1690px #fff, 1514px 370px #fff, 1624px 1330px #fff, 138px 1255px #fff,
    1385px 1152px #fff, 1361px 250px #fff, 1237px 569px #fff, 265px 1476px #fff,
    1356px 455px #fff, 1844px 245px #fff, 1780px 1166px #fff, 482px 600px #fff,
    1221px 102px #fff, 1948px 703px #fff, 1568px 16px #fff, 534px 1700px #fff,
    1141px 256px #fff, 1171px 1329px #fff, 897px 1835px #fff, 139px 480px #fff,
    576px 1346px #fff, 299px 266px #fff, 1258px 828px #fff, 397px 1517px #fff,
    1275px 1075px #fff, 563px 629px #fff, 1782px 1761px #fff, 563px 1709px #fff,
    1383px 1779px #fff, 1326px 919px #fff, 1231px 1879px #fff,
    1092px 1521px #fff, 650px 933px #fff, 1925px 1948px #fff, 752px 169px #fff,
    50px 56px #fff, 9px 1875px #fff, 1566px 929px #fff, 1376px 738px #fff,
    193px 662px #fff, 941px 703px #fff, 389px 448px #fff, 1984px 1493px #fff,
    1266px 647px #fff, 880px 189px #fff, 188px 1794px #fff, 283px 772px #fff,
    1339px 684px #fff, 1111px 1844px #fff, 919px 1256px #fff, 1645px 202px #fff,
    1261px 863px #fff, 1873px 1152px #fff, 213px 888px #fff, 861px 1062px #fff,
    600px 1535px #fff, 64px 126px #fff, 573px 1639px #fff, 923px 1039px #fff,
    793px 786px #fff, 468px 358px #fff, 636px 116px #fff, 1930px 747px #fff,
    87px 1537px #fff, 1397px 94px #fff, 1599px 808px #fff, 1275px 194px #fff,
    1580px 389px #fff, 1130px 711px #fff, 1025px 1780px #fff, 947px 1828px #fff,
    212px 1185px #fff, 1687px 842px #fff, 1914px 768px #fff, 722px 450px #fff,
    1557px 269px #fff, 1594px 1313px #fff, 1025px 795px #fff, 1013px 709px #fff,
    1700px 1075px #fff, 384px 1107px #fff, 1098px 1212px #fff, 296px 1737px #fff,
    872px 1772px #fff, 31px 38px #fff, 1374px 1334px #fff, 540px 1876px #fff,
    538px 1839px #fff, 981px 928px #fff, 1782px 1632px #fff, 1696px 414px #fff,
    1764px 549px #fff, 1617px 1247px #fff, 1591px 1024px #fff, 1280px 142px #fff,
    707px 1945px #fff, 1370px 1031px #fff, 298px 267px #fff, 330px 647px #fff,
    552px 1031px #fff, 1153px 1055px #fff, 183px 437px #fff, 954px 283px #fff,
    989px 1241px #fff, 1451px 15px #fff, 779px 831px #fff, 1008px 1896px #fff,
    1038px 1393px #fff, 554px 1818px #fff, 1213px 1398px #fff, 101px 547px #fff,
    1187px 170px #fff, 561px 960px #fff, 1791px 653px #fff, 661px 1383px #fff,
    597px 1780px #fff, 91px 1637px #fff, 1170px 1560px #fff, 868px 336px #fff,
    1747px 638px #fff, 714px 753px #fff, 1966px 1432px #fff, 1455px 1123px #fff,
    1269px 844px #fff, 92px 1983px #fff, 1609px 1510px #fff, 890px 1550px #fff,
    179px 9px #fff, 1993px 581px #fff, 1921px 1249px #fff, 448px 1907px #fff,
    1474px 533px #fff, 671px 610px #fff, 1141px 1977px #fff, 1789px 1138px #fff,
    513px 1645px #fff, 1478px 272px #fff, 785px 1490px #fff, 789px 573px #fff,
    1909px 627px #fff, 1851px 165px #fff, 1034px 1727px #fff, 850px 282px #fff,
    436px 467px #fff, 574px 279px #fff, 1763px 1225px #fff, 1941px 1378px #fff,
    200px 1802px #fff, 1501px 474px #fff, 345px 489px #fff, 736px 1184px #fff,
    43px 1348px #fff, 1867px 1722px #fff, 855px 1931px #fff, 1055px 645px #fff,
    1814px 1279px #fff, 1841px 1798px #fff, 854px 1737px #fff, 477px 350px #fff,
    1784px 1883px #fff, 817px 155px #fff, 1473px 1130px #fff, 1717px 570px #fff,
    745px 1528px #fff, 616px 1363px #fff, 493px 1495px #fff, 1564px 1110px #fff,
    671px 1560px #fff, 970px 1681px #fff, 126px 794px #fff, 65px 644px #fff,
    1592px 896px #fff, 443px 38px #fff, 728px 439px #fff, 960px 168px #fff,
    1821px 897px #fff, 835px 1663px #fff, 1414px 1636px #fff, 997px 1024px #fff,
    923px 404px #fff, 419px 258px #fff, 1920px 967px #fff, 1353px 1583px #fff,
    1772px 1846px #fff, 106px 1075px #fff, 1588px 1997px #fff, 1139px 47px #fff,
    1937px 1587px #fff, 338px 1197px #fff, 1746px 1871px #fff, 401px 1556px #fff,
    948px 825px #fff, 283px 1549px #fff, 856px 364px #fff, 109px 1871px #fff,
    1327px 1165px #fff, 1621px 862px #fff, 1212px 1332px #fff, 902px 1165px #fff,
    1199px 481px #fff, 833px 1205px #fff, 1652px 429px #fff, 86px 1028px #fff,
    1994px 1463px #fff, 651px 75px #fff, 354px 668px #fff, 1610px 892px #fff,
    1129px 239px #fff, 520px 1443px #fff, 1274px 802px #fff, 1536px 1493px #fff,
    1254px 546px #fff, 27px 34px #fff, 252px 1497px #fff, 251px 1804px #fff,
    319px 165px #fff, 842px 482px #fff, 852px 767px #fff, 579px 535px #fff,
    1579px 1199px #fff, 1758px 1399px #fff, 413px 1122px #fff, 1995px 531px #fff,
    991px 944px #fff, 894px 430px #fff, 1869px 1396px #fff, 488px 664px #fff,
    32px 1195px #fff, 1480px 29px #fff, 1752px 1511px #fff, 1730px 1220px #fff,
    625px 986px #fff, 362px 1492px #fff, 1148px 48px #fff, 204px 509px #fff,
    516px 1145px #fff, 9px 581px #fff, 605px 197px #fff, 1610px 1567px #fff,
    1367px 1735px #fff, 222px 1926px #fff, 1940px 357px #fff, 147px 1692px #fff,
    1975px 1841px #fff, 1628px 1090px #fff, 1675px 1283px #fff, 781px 177px #fff,
    700px 86px #fff, 43px 63px #fff, 257px 11px #fff, 1299px 1141px #fff,
    1998px 214px #fff, 286px 397px #fff, 1863px 1952px #fff, 1643px 1501px #fff,
    1436px 1813px #fff, 846px 280px #fff, 1231px 895px #fff, 1910px 864px #fff,
    1335px 547px #fff, 1471px 1304px #fff, 804px 1199px #fff, 82px 1734px #fff,
    1613px 333px #fff, 1999px 1159px #fff, 1200px 998px #fff, 1386px 123px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1451px 313px #fff, 556px 1228px #fff, 574px 666px #fff,
    79px 315px #fff, 941px 955px #fff, 927px 190px #fff, 1427px 422px #fff,
    938px 499px #fff, 1618px 1978px #fff, 1313px 1215px #fff, 64px 1750px #fff,
    1347px 608px #fff, 1360px 729px #fff, 1964px 435px #fff, 63px 1121px #fff,
    1674px 9px #fff, 1869px 1441px #fff, 1747px 184px #fff, 16px 1242px #fff,
    84px 438px #fff, 197px 459px #fff, 1480px 554px #fff, 1491px 1273px #fff,
    855px 990px #fff, 1696px 180px #fff, 730px 1846px #fff, 1675px 1227px #fff,
    931px 883px #fff, 146px 1232px #fff, 1030px 841px #fff, 171px 1589px #fff,
    231px 429px #fff, 1296px 1971px #fff, 904px 1216px #fff, 1121px 1549px #fff,
    937px 490px #fff, 972px 1198px #fff, 1843px 882px #fff, 245px 1962px #fff,
    144px 672px #fff, 582px 1059px #fff, 969px 1681px #fff, 462px 1299px #fff,
    1503px 279px #fff, 534px 1118px #fff, 831px 372px #fff, 586px 155px #fff,
    1248px 888px #fff, 1916px 1136px #fff, 1922px 1267px #fff,
    1520px 1480px #fff, 524px 1007px #fff, 1067px 1841px #fff, 1040px 467px #fff,
    575px 726px #fff, 1105px 1035px #fff, 1103px 1235px #fff, 41px 352px #fff,
    439px 1443px #fff, 438px 322px #fff, 1867px 302px #fff, 689px 1178px #fff,
    752px 668px #fff, 195px 293px #fff, 1854px 1944px #fff, 401px 1589px #fff,
    1405px 1513px #fff, 650px 1823px #fff, 1754px 1751px #fff, 1930px 173px #fff,
    244px 1221px #fff, 1450px 435px #fff, 223px 877px #fff, 623px 966px #fff,
    488px 128px #fff, 1086px 128px #fff, 775px 1063px #fff, 1494px 270px #fff,
    251px 1430px #fff, 251px 1148px #fff, 1231px 522px #fff, 1382px 212px #fff,
    1023px 604px #fff, 212px 731px #fff, 1678px 30px #fff, 346px 1956px #fff,
    733px 595px #fff, 219px 222px #fff, 758px 1760px #fff, 1527px 203px #fff,
    677px 1600px #fff, 1113px 521px #fff, 615px 1684px #fff, 986px 1811px #fff,
    351px 870px #fff, 1256px 1538px #fff, 1385px 1814px #fff, 1142px 205px #fff,
    1010px 1719px #fff, 15px 827px #fff, 224px 657px #fff, 75px 519px #fff,
    79px 427px #fff, 1105px 426px #fff, 928px 1367px #fff, 499px 1801px #fff,
    1099px 1232px #fff, 1822px 1901px #fff, 1270px 1823px #fff,
    1460px 468px #fff, 921px 883px #fff, 855px 1632px #fff, 1089px 1912px #fff,
    1956px 75px #fff, 219px 150px #fff, 1787px 1229px #fff, 1981px 1794px #fff,
    1481px 807px #fff, 1570px 502px #fff, 750px 1712px #fff, 63px 27px #fff,
    1227px 202px #fff, 1993px 538px #fff, 844px 796px #fff, 1990px 1924px #fff,
    1072px 624px #fff, 181px 1361px #fff, 16px 1521px #fff, 99px 127px #fff,
    1404px 475px #fff, 1758px 1901px #fff, 1577px 326px #fff, 1464px 1519px #fff,
    785px 60px #fff, 1098px 791px #fff, 1826px 455px #fff, 452px 1620px #fff,
    94px 280px #fff, 1702px 723px #fff, 383px 248px #fff, 505px 817px #fff,
    1476px 1989px #fff, 750px 1747px #fff, 304px 1020px #fff, 1864px 87px #fff,
    880px 1944px #fff, 1345px 1219px #fff, 192px 1653px #fff, 1527px 38px #fff,
    697px 1765px #fff, 395px 1413px #fff, 80px 325px #fff, 1687px 1391px #fff,
    1099px 943px #fff, 758px 169px #fff, 239px 550px #fff, 681px 1953px #fff,
    1821px 1845px #fff, 1683px 729px #fff, 618px 1537px #fff, 496px 1543px #fff,
    1241px 1644px #fff, 1114px 1567px #fff, 960px 216px #fff, 1747px 290px #fff,
    1212px 1597px #fff, 556px 1101px #fff, 503px 1325px #fff, 914px 1630px #fff,
    1162px 337px #fff, 328px 1212px #fff, 973px 573px #fff, 477px 718px #fff,
    822px 810px #fff, 741px 600px #fff, 1508px 911px #fff, 820px 1585px #fff,
    1667px 1008px #fff, 1398px 1125px #fff, 463px 765px #fff, 1726px 1460px #fff,
    457px 1503px #fff, 1207px 331px #fff, 1795px 225px #fff, 615px 1793px #fff,
    1565px 569px #fff, 1820px 962px #fff, 1683px 1622px #fff, 1633px 1404px #fff,
    398px 1250px #fff, 1219px 1058px #fff, 1498px 461px #fff, 1983px 1862px #fff,
    711px 31px #fff, 695px 1222px #fff, 1368px 340px #fff, 1165px 1880px #fff,
    1259px 330px #fff, 1969px 340px #fff, 1425px 161px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1451px 313px #fff, 556px 1228px #fff, 574px 666px #fff,
    79px 315px #fff, 941px 955px #fff, 927px 190px #fff, 1427px 422px #fff,
    938px 499px #fff, 1618px 1978px #fff, 1313px 1215px #fff, 64px 1750px #fff,
    1347px 608px #fff, 1360px 729px #fff, 1964px 435px #fff, 63px 1121px #fff,
    1674px 9px #fff, 1869px 1441px #fff, 1747px 184px #fff, 16px 1242px #fff,
    84px 438px #fff, 197px 459px #fff, 1480px 554px #fff, 1491px 1273px #fff,
    855px 990px #fff, 1696px 180px #fff, 730px 1846px #fff, 1675px 1227px #fff,
    931px 883px #fff, 146px 1232px #fff, 1030px 841px #fff, 171px 1589px #fff,
    231px 429px #fff, 1296px 1971px #fff, 904px 1216px #fff, 1121px 1549px #fff,
    937px 490px #fff, 972px 1198px #fff, 1843px 882px #fff, 245px 1962px #fff,
    144px 672px #fff, 582px 1059px #fff, 969px 1681px #fff, 462px 1299px #fff,
    1503px 279px #fff, 534px 1118px #fff, 831px 372px #fff, 586px 155px #fff,
    1248px 888px #fff, 1916px 1136px #fff, 1922px 1267px #fff,
    1520px 1480px #fff, 524px 1007px #fff, 1067px 1841px #fff, 1040px 467px #fff,
    575px 726px #fff, 1105px 1035px #fff, 1103px 1235px #fff, 41px 352px #fff,
    439px 1443px #fff, 438px 322px #fff, 1867px 302px #fff, 689px 1178px #fff,
    752px 668px #fff, 195px 293px #fff, 1854px 1944px #fff, 401px 1589px #fff,
    1405px 1513px #fff, 650px 1823px #fff, 1754px 1751px #fff, 1930px 173px #fff,
    244px 1221px #fff, 1450px 435px #fff, 223px 877px #fff, 623px 966px #fff,
    488px 128px #fff, 1086px 128px #fff, 775px 1063px #fff, 1494px 270px #fff,
    251px 1430px #fff, 251px 1148px #fff, 1231px 522px #fff, 1382px 212px #fff,
    1023px 604px #fff, 212px 731px #fff, 1678px 30px #fff, 346px 1956px #fff,
    733px 595px #fff, 219px 222px #fff, 758px 1760px #fff, 1527px 203px #fff,
    677px 1600px #fff, 1113px 521px #fff, 615px 1684px #fff, 986px 1811px #fff,
    351px 870px #fff, 1256px 1538px #fff, 1385px 1814px #fff, 1142px 205px #fff,
    1010px 1719px #fff, 15px 827px #fff, 224px 657px #fff, 75px 519px #fff,
    79px 427px #fff, 1105px 426px #fff, 928px 1367px #fff, 499px 1801px #fff,
    1099px 1232px #fff, 1822px 1901px #fff, 1270px 1823px #fff,
    1460px 468px #fff, 921px 883px #fff, 855px 1632px #fff, 1089px 1912px #fff,
    1956px 75px #fff, 219px 150px #fff, 1787px 1229px #fff, 1981px 1794px #fff,
    1481px 807px #fff, 1570px 502px #fff, 750px 1712px #fff, 63px 27px #fff,
    1227px 202px #fff, 1993px 538px #fff, 844px 796px #fff, 1990px 1924px #fff,
    1072px 624px #fff, 181px 1361px #fff, 16px 1521px #fff, 99px 127px #fff,
    1404px 475px #fff, 1758px 1901px #fff, 1577px 326px #fff, 1464px 1519px #fff,
    785px 60px #fff, 1098px 791px #fff, 1826px 455px #fff, 452px 1620px #fff,
    94px 280px #fff, 1702px 723px #fff, 383px 248px #fff, 505px 817px #fff,
    1476px 1989px #fff, 750px 1747px #fff, 304px 1020px #fff, 1864px 87px #fff,
    880px 1944px #fff, 1345px 1219px #fff, 192px 1653px #fff, 1527px 38px #fff,
    697px 1765px #fff, 395px 1413px #fff, 80px 325px #fff, 1687px 1391px #fff,
    1099px 943px #fff, 758px 169px #fff, 239px 550px #fff, 681px 1953px #fff,
    1821px 1845px #fff, 1683px 729px #fff, 618px 1537px #fff, 496px 1543px #fff,
    1241px 1644px #fff, 1114px 1567px #fff, 960px 216px #fff, 1747px 290px #fff,
    1212px 1597px #fff, 556px 1101px #fff, 503px 1325px #fff, 914px 1630px #fff,
    1162px 337px #fff, 328px 1212px #fff, 973px 573px #fff, 477px 718px #fff,
    822px 810px #fff, 741px 600px #fff, 1508px 911px #fff, 820px 1585px #fff,
    1667px 1008px #fff, 1398px 1125px #fff, 463px 765px #fff, 1726px 1460px #fff,
    457px 1503px #fff, 1207px 331px #fff, 1795px 225px #fff, 615px 1793px #fff,
    1565px 569px #fff, 1820px 962px #fff, 1683px 1622px #fff, 1633px 1404px #fff,
    398px 1250px #fff, 1219px 1058px #fff, 1498px 461px #fff, 1983px 1862px #fff,
    711px 31px #fff, 695px 1222px #fff, 1368px 340px #fff, 1165px 1880px #fff,
    1259px 330px #fff, 1969px 340px #fff, 1425px 161px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 652px 1027px #fff, 233px 799px #fff, 1961px 886px #fff,
    528px 880px #fff, 1822px 460px #fff, 476px 1657px #fff, 942px 1642px #fff,
    511px 149px #fff, 806px 1968px #fff, 1440px 432px #fff, 1292px 1439px #fff,
    1478px 1261px #fff, 1031px 186px #fff, 1465px 1666px #fff, 172px 1059px #fff,
    1566px 925px #fff, 30px 1516px #fff, 1654px 1091px #fff, 1777px 1769px #fff,
    826px 956px #fff, 1462px 842px #fff, 1904px 1900px #fff, 844px 1507px #fff,
    1958px 1807px #fff, 609px 821px #fff, 1549px 718px #fff, 1656px 680px #fff,
    1217px 1121px #fff, 518px 296px #fff, 1577px 1476px #fff, 297px 517px #fff,
    1000px 749px #fff, 158px 254px #fff, 1446px 1822px #fff, 808px 779px #fff,
    663px 1428px #fff, 1947px 1345px #fff, 187px 1665px #fff, 812px 1340px #fff,
    1268px 684px #fff, 1px 898px #fff, 405px 602px #fff, 575px 721px #fff,
    224px 1970px #fff, 1930px 242px #fff, 930px 745px #fff, 1223px 1150px #fff,
    1041px 143px #fff, 29px 1036px #fff, 1992px 983px #fff, 1969px 355px #fff,
    1364px 90px #fff, 47px 665px #fff, 541px 264px #fff, 1459px 1012px #fff,
    556px 757px #fff, 188px 55px #fff, 54px 970px #fff, 779px 1569px #fff,
    784px 1874px #fff, 552px 876px #fff, 1945px 1731px #fff, 15px 1579px #fff,
    1437px 429px #fff, 1013px 820px #fff, 1687px 1685px #fff, 1832px 1426px #fff,
    650px 960px #fff, 698px 1946px #fff, 415px 173px #fff, 1819px 1762px #fff,
    410px 1149px #fff, 1475px 784px #fff, 1790px 1967px #fff, 1404px 243px #fff,
    462px 1619px #fff, 95px 1705px #fff, 1820px 640px #fff, 1075px 1014px #fff,
    1738px 1189px #fff, 254px 29px #fff, 759px 480px #fff, 1779px 1482px #fff,
    1121px 228px #fff, 5px 1092px #fff, 199px 1367px #fff, 1195px 956px #fff,
    1992px 1894px #fff, 977px 1526px #fff, 1184px 292px #fff, 1103px 134px #fff,
    191px 1147px #fff, 646px 1536px #fff, 1353px 507px #fff, 1925px 1152px #fff,
    1622px 1351px #fff, 1365px 1874px #fff, 1371px 339px #fff, 30px 1635px #fff,
    1238px 1614px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 652px 1027px #fff, 233px 799px #fff, 1961px 886px #fff,
    528px 880px #fff, 1822px 460px #fff, 476px 1657px #fff, 942px 1642px #fff,
    511px 149px #fff, 806px 1968px #fff, 1440px 432px #fff, 1292px 1439px #fff,
    1478px 1261px #fff, 1031px 186px #fff, 1465px 1666px #fff, 172px 1059px #fff,
    1566px 925px #fff, 30px 1516px #fff, 1654px 1091px #fff, 1777px 1769px #fff,
    826px 956px #fff, 1462px 842px #fff, 1904px 1900px #fff, 844px 1507px #fff,
    1958px 1807px #fff, 609px 821px #fff, 1549px 718px #fff, 1656px 680px #fff,
    1217px 1121px #fff, 518px 296px #fff, 1577px 1476px #fff, 297px 517px #fff,
    1000px 749px #fff, 158px 254px #fff, 1446px 1822px #fff, 808px 779px #fff,
    663px 1428px #fff, 1947px 1345px #fff, 187px 1665px #fff, 812px 1340px #fff,
    1268px 684px #fff, 1px 898px #fff, 405px 602px #fff, 575px 721px #fff,
    224px 1970px #fff, 1930px 242px #fff, 930px 745px #fff, 1223px 1150px #fff,
    1041px 143px #fff, 29px 1036px #fff, 1992px 983px #fff, 1969px 355px #fff,
    1364px 90px #fff, 47px 665px #fff, 541px 264px #fff, 1459px 1012px #fff,
    556px 757px #fff, 188px 55px #fff, 54px 970px #fff, 779px 1569px #fff,
    784px 1874px #fff, 552px 876px #fff, 1945px 1731px #fff, 15px 1579px #fff,
    1437px 429px #fff, 1013px 820px #fff, 1687px 1685px #fff, 1832px 1426px #fff,
    650px 960px #fff, 698px 1946px #fff, 415px 173px #fff, 1819px 1762px #fff,
    410px 1149px #fff, 1475px 784px #fff, 1790px 1967px #fff, 1404px 243px #fff,
    462px 1619px #fff, 95px 1705px #fff, 1820px 640px #fff, 1075px 1014px #fff,
    1738px 1189px #fff, 254px 29px #fff, 759px 480px #fff, 1779px 1482px #fff,
    1121px 228px #fff, 5px 1092px #fff, 199px 1367px #fff, 1195px 956px #fff,
    1992px 1894px #fff, 977px 1526px #fff, 1184px 292px #fff, 1103px 134px #fff,
    191px 1147px #fff, 646px 1536px #fff, 1353px 507px #fff, 1925px 1152px #fff,
    1622px 1351px #fff, 1365px 1874px #fff, 1371px 339px #fff, 30px 1635px #fff,
    1238px 1614px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
